<meta charset="UTF-8">
<style>
    ._customer_info__wrap {
        max-width: 797px;
        background: #f4f3f4;
        font-family: Arial, sans-serif;
        padding: 35px 45px 35px 45px;
    }
    ._customer_info__title {
        font-size: 20px;
        line-height: 24px;
        color: #3b3f7a;
        text-transform: uppercase;
    }
    ._customer_info__desc {
        font-size: 15px;
        line-height: 19px;
        color: #000000;
        margin-top: 3px;
    }
    ._customer_info__logo {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: space-between;
    }
    ._customer_info__logo-item {
        width: 133px;
        text-align: center;
        align-self: center;
        margin-top: 5px;
    }
</style>
<div class="_customer_info__wrap">
    <div class="_customer_info__title">
        Подбор и комплексная поставка оборудования<br>
        для промышленной автоматизации
    </div>
    <div class="_customer_info__desc">
        Ведущие российские и мировые производители, среди которых:
    </div>
    <div class="_customer_info__logo">
        <div class="_customer_info__logo-item">
            <img src="img/block_main/logo-1.png">
        </div>
        <div class="_customer_info__logo-item">
            <img src="img/block_main/logo-2.png">
        </div>
        <div class="_customer_info__logo-item">
            <img src="img/block_main/logo-3.png">
        </div>
        <div class="_customer_info__logo-item">
            <img src="img/block_main/logo-4.png">
        </div>
        <div class="_customer_info__logo-item">
            <img src="img/block_main/logo-5.png">
        </div>
        <div class="_customer_info__logo-item">
            <img src="img/block_main/logo-6.png">
        </div>
        <div class="_customer_info__logo-item">
            <img src="img/block_main/logo-7.png">
        </div>
        <div class="_customer_info__logo-item">
            <img src="img/block_main/logo-8.png">
        </div>
        <div class="_customer_info__logo-item">
            <img src="img/block_main/logo-9.png">
        </div>
        <div class="_customer_info__logo-item">
            <img src="img/block_main/logo-10.png">
        </div>
    </div>
</div>