<meta charset="UTF-8">
<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Roboto:400');
    ._customer_card__wrap {
        font-family: 'Roboto', sans-serif;
        max-width: 885px;
        min-height: 144px;
        color: #000000;
        background: #ffffff;
        padding-top: 11px;
        padding-left: 2px;
    }
    ._customer_card__cont {
        display: flex;
        flex-wrap: wrap;
    }
    ._customer_card__item {
        display: flex;
        width: 48%;
        margin-bottom: 15px;
        margin-right: 1%;
    }
    ._customer_card__item img {
        width: 57px!important;
        height: 57px!important;
    }
    ._customer_card__txt {
        display: grid;
        align-content: center;
        margin-left: 10px;
        font-size: 18px;
        line-height: 20px;
        font-weight: normal;
    }
    @media (max-width: 998px) {
        ._customer_card__cont {
            display: block;
        }
        ._customer_card__item {
            width: 100%;
        }
    }
</style>
<div class="_customer_card__wrap">
    <div class="_customer_card__cont">
        <div class="_customer_card__item _customer_card__item-mr">
            <img src="img/block_card/img-1.png" />
            <div class="_customer_card__txt"><span>Подбор оборудования под ваши задачи</span></div>
        </div>
        <div class="_customer_card__item">
            <img src="img/block_card/img-2.png" />
            <div class="_customer_card__txt"><span>Скидки для интеграторов — до 15%</span></div>
        </div>
        <div class="_customer_card__item _customer_card__item-mr">
            <img src="img/block_card/img-3.png" />
            <div class="_customer_card__txt"><span>Дополнительные скидки по счету от конкурента</span></div>
        </div>
        <div class="_customer_card__item">
            <img src="img/block_card/img-4.png" />
            <div class="_customer_card__txt"><span>Производство оборудования под<br> заказ — от 2 недель</span></div>
        </div>
    </div>
</div>