<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');
    ._customer_cat__wrap {
        max-width: 624px;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 19px;
        color: #000000;
        padding-top: 9px;
        padding-left: 3px;
    }
    ._customer_cat__content {
        display: flex;
        flex-wrap: wrap;
    }
    ._customer_cat__item {
        display: flex;
        min-height: 57px;
        margin-bottom: 14px;
    }
    ._customer_cat__item img {
        width: 57px!important;
        height: 57px!important;
    }
    ._customer_cat__item-txt {
        display: grid;
        align-content: center;
        margin-left: 10px;
    }
    ._customer_cat__cont {
        display: flex;
        justify-content: space-between;
        background: #F2F2F2;
        margin-top: 9px;
        font-style: italic;
        font-size: 19px;
        line-height: 20px;
        padding-top: 12px;
        padding-bottom: 11px;
    }
    ._customer_cat__phone {
        display: block!important;
        width: 200px;
        background: url("img/block_category/icon-phone.png") no-repeat 20px 5px;
        padding-left: 72px;
    }
    ._customer_cat__phone a {
        color: #000000;
        text-decoration: none;
    }
    ._customer_cat__button {
        min-width: 180px;
        max-width: 180px;
        height: 40px;
        font-family: Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
        background: #ae0000;
        font-style: normal;
        border-radius: 3px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 3px;
        margin-right: 22px;
        margin-left: 20px;
    }
    ._customer_cat__button:hover {
        opacity: 0.8;
    }
    @media (max-width: 1090px) {
        ._customer_cat__cont {
            display: block;
        }
        ._customer_cat__button {
            margin: 0 auto;
            margin-top: 10px;
        }
        ._customer_cat__phone {
            margin: 0 auto;
        }
    }
</style>
<div class="_customer_cat__wrap">
    <div class="_customer_cat__content">
        <div class="_customer_cat__item">
            <img src="img/block_category/img-1.png">
            <div class="_customer_cat__item-txt">
                <span>Производство оборудования под заказ — от 2 недель</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <img src="img/block_category/img-2.png">
            <div class="_customer_cat__item-txt">
                <span>Скидки для интеграторов — до 15%</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <img src="img/block_category/img-3.png">
            <div class="_customer_cat__item-txt">
                <span>Дополнительные скидки по счету от конкурента</span>
            </div>
        </div>
    </div>
    <div class="_customer_cat__cont">
        <div class="_customer_cat__phone">
            <div class="_customer_cat__text">
                Узнайте подробности
            </div>
            <a href="tel:+7383335770" onclick="yaCounter31995806.reachGoal('megasite_comblock_tel'); return true;">
                +7 (383) 335-77-0</a>
        </div>
        <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer_cat__button"
             data-company-id="98523428" data-company-name="СибирьЭлектра" data-company-name-rest="ООО"
             data-company-url="http://www.sibirelectra54.ru/" data-ga-id="CK-1193-1"
             data-params="{&quot;company_id&quot;:98523428}" data-statistics="1" data-type="callback"
             onclick="yaCounter31995806.reachGoal('megasite_comblock_tel'); return true;">
            Заказать звонок
        </div>
    </div>
</div>