<meta charset="UTF-8">
<style>
    /* Шрифт добавлен в футере сайта */
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
    ._customer_adv__wrap {
        max-width: 794px;
        background: #ffffff;
        padding: 24px 90px 6px 3px;
    }
    ._customer_adv__item {
        display: flex;
        margin-bottom: 30px;
    }
    ._customer_adv__item-title {
        font-size: 18px;
        line-height: 19px;
        font-weight: 400;
        font-family: Roboto, sans-serif;
        color: #000000;
    }
    ._customer_adv__item-txt {
        font-size: 15px;
        line-height: 18px;
        font-weight: 300;
        margin-top: 5px;
        font-family: Roboto, sans-serif;
        color: #000000;
    }
    ._customer_adv__item img {
        width: 57px!important;
        height: 57px!important;
    }
    ._customer_adv__item-block {
        display: grid;
        align-content: center;
        margin-left: 20px;
    }
</style>

<div class="_customer_adv__wrap">
    <div class="_customer_adv__item">
        <img src="img/block_advantages/img-1.png">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Комплексные поставки</div>
            <span class="_customer_adv__item-txt">Оснащаем всем необходимым оборудованием. Обрабатываем крупные и нестандартные заявки.</span>
        </div>
    </div>
    <div class="_customer_adv__item">
        <img src="img/block_advantages/img-2.png">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Поддержка</div>
            <span class="_customer_adv__item-txt">Помогаем нашим клиентам с подбором оборудования под конкретные задачи, уточняем технические
параметры у производителей.</span>
        </div>
    </div>
    <div class="_customer_adv__item">
        <img src="img/block_advantages/img-3.png">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Короткие сроки</div>
            <span class="_customer_adv__item-txt">При получении заказа моментально связываемся с клиентом для уточнения деталей. Решаем
аварийные задачи — при этом доставляем товар курьером по вашему адресу.</span>
        </div>
    </div>
    <div class="_customer_adv__item">
        <img src="img/block_advantages/img-4.png">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Гарантии</div>
            <span class="_customer_adv__item-txt">Предоставляем гарантии заводов изготовителей. В зависимости от производителя и типа
оборудования — от 6 месяцев до 3 лет. Точно исполняем договорные обязательства.</span>
        </div>
    </div>
    <div class="_customer_adv__item">
        <img src="img/block_advantages/img-5.png">
        <div class="_customer_adv__item-block">
            <div class="_customer_adv__item-title">Скидки</div>
            <span class="_customer_adv__item-txt">Скидки до 15% для интеграторов!</span>
        </div>
    </div>
</div>
