<meta charset="UTF-8">
<style>
    ._customer-page_wrap {
        max-width: 1147px;
        box-sizing: border-box;
        font: 14px Arial, sans-serif;
        line-height: 19px; !important;
        margin: 0 auto;
        color: #000;
    }
    ._customer-page_top {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
    ._customer-page_top ._customer-page_ttl {
        margin-bottom: 10px;
    }
    ._customer-page_img {
        max-width: 464px !important;
        width: 100%;
        height: auto;
        margin-right: 34px;
    }
    ._customer-page_text {
        max-width: 669px;
    }
    ._customer-page_bold {
        font-weight: bold;
        margin-top: 15px;
    }
    ._customer-page_ttl {
        font-size: 24px;
        line-height: 28px;
        font-weight: bold;
    }
    ul._customer-page_list {
        padding-left: 15px !important;
        margin: 0 !important;
    }
    ._customer-page_list li {
        margin-bottom: 5px;
        color: #AE0001;
    }
    ._customer-page_list li span {
        color: #000;
    }
    ._customer-page_action {
        max-width: 871px;
        width: 100%;
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 1px solid #AF0001;
        box-sizing: border-box;
        border-radius: 9px;
        padding: 19px 45px;
        margin: 70px auto 0;
    }
    ._customer-page_action-text {
        font-size: 24px;
        line-height: 32px;
        margin-right: 20px;
        text-align: center;
    }
    ._customer-page_btn {
        width: 158px;
        height: 34px;
        background: #AF0001;
        border-radius: 3px;
        font-size: 12px;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF !important;
        text-decoration: none;
    }
    ._customer-page_btn:hover {
        opacity: 0.85;
    }
    ._customer-page_production {
        margin-top: 60px;
    }
    ._customer-page_production ._customer-page_ttl {
        margin-bottom: 20px;
    }
    ._customer-page_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px -35px 0;
    }
    ._customer-page_item {
        width: 342px;
        display: flex !important;
        flex-direction: column;
        margin: 0 30px 30px;
        padding-top: 40px;
    }
    ._customer-page_item div {
        font-weight: bold;
        margin-bottom: 10px;
    }
    ._customer-page_item-1 {
        background: url("img/page/icon-1.png") no-repeat top left;
    }
    ._customer-page_item-2 {
        background: url("img/page/icon-2.png") no-repeat top left;
    }
    ._customer-page_item-3 {
        background: url("img/page/icon-3.png") no-repeat top left;
    }
    ._customer-page_cooperation {
        margin-top: 60px;
    }
    ._customer-page_cooperation ._customer-page_ttl, ._customer-page_advantages ._customer-page_ttl {
        margin-bottom: 30px;
    }
    ._customer-page_item-4 {
        background: url("img/page/icon-4.png") no-repeat top left;
    }
    ._customer-page_item-5 {
        background: url("img/page/icon-5.png") no-repeat top left;
    }
    ._customer-page_item-6 {
        background: url("img/page/icon-6.png") no-repeat top left;
    }
    ._customer-page_advantages {
        margin-top: 30px;
    }
    ._customer-page_list-bottom {
        margin-top: 30px;
    }
    ._customer-page_contacts {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        box-sizing: border-box;
        border: 1px solid #af0001;
        border-radius: 9px;
        padding: 30px;
        margin: 60px auto;
    }
    ._customer-page_contacts a {
        padding-left: 30px;
        display: inline-block !important;
        color: #3B4078;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        white-space: nowrap;
        position: relative;
        margin-top: 10px;
    }
    ._customer-page_contacts a:before {
        position: absolute;
        left: 0;
        top: calc(50% - 13px);
    }
    ._customer-page_contacts a[href^="tel"]:before {
        content: url('img/page/content_phone.png');
    }
    ._customer-page_contacts a[href^="mailto"]:before {
        content: url('img/page/content_mail.png');
    }

    @media (max-width: 1234px) {
        ._customer-page_text {
            max-width: 100%;
        }
    }
    @media (max-width: 883px) {
        ._customer-page_action-text {
            margin-bottom: 20px;
        }
    }

</style>

<div class="_customer-page_wrap">

    <section class="_customer-page_top">
        <img class="_customer-page_img" src="img/page/image.png" alt="">
        <div class="_customer-page_text">
            <p>Алюминиевые и полимерные корпуса – конструкции, предназначенные для монтажа компонентов и бесперебойной
                работы радиоэлектронной аппаратуры, электрооборудования. Корпуса РЭА имеют компактные размеры,
                отличаются надежностью, простой установки (настенной, подвесной на планках/фланцах), практичностью.
            </p>
            <div class="_customer-page_ttl">
                Производство клеммных коробок
            </div>
            <p class="_customer-page_bold">В короткие сроки производим качественные корпуса, которые имеют отличия:</p>
            <ul class="_customer-page_list">
                <li><span>По назначению – распределительные и соединительные;</span></li>
                <li><span>По исполнению – типовые изделия и взрывобезопасные клеммные коробки для объектов с повышенными
                    требованиями к пожарной безопасности;</span></li>
                <li><span>Относительно материала исполнения – используется пластик ABS, армированный стекловолокном полиэфир,
                    алюминий, нержавеющая сталь;</span></li>
                <li><span>По габаритам – размеры и параметры согласовываются на этапах оформления заказа.</span></li>
            </ul>
            <p>Производим сертифицированную продукцию с использованием комплектующих (корпусов и вводов) от известных
                производителей. Все варианты коробок полностью соответствуют требованиям технического задания
                заказчика и государственным стандартам.
            </p>
        </div>
    </section>

    <div class="_customer-page_action">
        <div class="_customer-page_action-text">
            Узнайте подробнее о видах производимой продукции
        </div>
        <a class="_customer-page_btn" href="/catalog">Подробнее</a>
    </div>

    <section class="_customer-page_production">
        <div class="_customer-page_ttl">Особенности производства коробок разного типа</div>
        <p>Производство клеммных коробок (распределительных, соединительных) – многоэтапный процесс, при реализации
            которого учитываются все требования ТЗ и регламент стандартов. Изготавливаем продукцию, которая широко
            используется на предприятиях любого типа (от торговых центров до атомной энергетики), в быту, на
            строительных и других объектах.
        </p>
        <p class="_customer-page_bold">Серийное или индивидуальное изготовление коробок проводится в несколько этапов:</p>
        <div class="_customer-page_box">
            <div class="_customer-page_item _customer-page_item-1">
                <div>Согласование чертежей и ТЗ</div>
                в котором четко прописаны все пункты – тип коробок и вводов, материал изготовления, размеры,
                характеристики, количество, критерии оценки качества
            </div>
            <div class="_customer-page_item _customer-page_item-2">
                <div>Производство клеммных коробок разного типа</div>
                в котором четко прописаны все пункты – тип коробок и вводов, материал изготовления, размеры,
                характеристики, количество, критерии оценки качества
            </div>
            <div class="_customer-page_item _customer-page_item-3">
                <div>Отгрузка продукции</div>
            </div>
        </div>
        <p class="_customer-page_bold">Производим типовые коробки и взрывозащищенные изделия с разными видами защиты:</p>
        <ul class="_customer-page_list">
            <li><span>«Искробезопасная электрическая цепь» – соответствие МЭК 60079-11:1199 и ГОСТу 30852.10-2002 уровень IA;</span></li>
            <li><span>Уровень защиты Е в соответствии с требованиями ГОСТа 30852.10-2002.</span></li>
        </ul>
        <p>Все изделия имеют увеличенный уровень защиты корпуса от негативных внешних воздействий (IP66).</p>
    </section>

    <section class="_customer-page_cooperation">
        <div class="_customer-page_ttl">Условия сотрудничества</div>
        <p class="_customer-page_bold">Являясь производителем, предлагаем комфортные условия сотрудничества частным
            и корпоративным заказчикам:
        </p>
        <div class="_customer-page_box">
            <div class="_customer-page_item _customer-page_item-4">
                <div>Простой подбор продукции в каталоге / заказ изготовления изделий по ТЗ</div>
                Самостоятельно или при консультировании с нашими техническими специалистами
            </div>
            <div class="_customer-page_item _customer-page_item-5">
                <div>Оплата заказа</div>
                На расчетный счет, работаем с НДС и без НДС
            </div>
            <div class="_customer-page_item _customer-page_item-6">
                <div>Получение продукции</div>
                На условиях самовывоза с наших складов или доставка в любую точку РФ и СНГ
            </div>
        </div>
    </section>

    <section class="_customer-page_advantages">
        <div class="_customer-page_ttl">Преимущества сотрудничества</div>
        <ul class="_customer-page_list _customer-page_list-bottom">
            <li><span>Широкий выбор продукции для любых сфер – производим коробки для объектов разного значения и масштаба;</span></li>
            <li><span>Оптимальное соотношение высокого качества и приемлемой стоимости;</span></li>
            <li><span>Строгий контроль всех этапов производственного процесса;</span></li>
            <li><span>Соответствие клеммных коробок требованиям ГОСТов, ТУ, нормам безопасности;</span></li>
            <li><span>Техническое консультирование на этапах выбора и изготовления коробок по типовым проектам и
                индивидуальным размерам.</span></li>
        </ul>
    </section>

    <div class="_customer-page_contacts">
        <p style="margin-bottom: 5px!important;">Уточняйте подробности у наших менеджеров.</p>
        <a href="tel:+73833357704" onclick="yaCounter31995806.reachGoal('megasite_about_tel'); return true;">+7 (383) 335-77-04</a>
        <a href="mailto:sibirelectra@mail.ru" onclick="yaCounter31995806.reachGoal('megasite_about_email'); return true;">sibirelectra@mail.ru</a>
    </div>


</div>
